

<div id="wrapper">
      <h1>Note Scraper</h1>
    
      <div id="articles">
{{#each Article }}

<p data-id={{_id}}> {{title}} {{summary}}<br>{{url}}</p>
{{/each}}
      </div>
      
      <div id="notes"></div>
    </div>